*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: Lato, sans-serif;
  color: #333;
  font-weight: 400;
  line-height: 1.6;
  background-color: #0e1111; }

.header {
  height: 70vh;
  background-image: linear-gradient(to right bottom, rgba(14, 17, 17, 0.8), rgba(53, 56, 57, 0.8)), url(../images/guitarist.jpg);
  background-size: cover;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8); }
  .header__image {
    width: 15rem;
    height: 15rem;
    margin-top: 3rem;
    margin-left: 3rem;
    cursor: pointer; }
  .header__label {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .header__welcome {
    color: #fff;
    font-size: 7rem;
    display: block;
    margin-bottom: 10rem; }
  .header__button-enter {
    font-family: Lato, sans-serif;
    border: none;
    width: 25rem;
    height: 10rem;
    color: #333;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1rem 3rem;
    font-size: 2.5rem;
    cursor: pointer;
    outline: none;
    transition: all .4s;
    position: relative; }
    .header__button-enter:hover {
      transform: translateY(-0.3rem); }
      .header__button-enter:hover::after {
        transform: scaleX(1.2) scaleY(1.3);
        opacity: 0; }
    .header__button-enter:active {
      transform: translateY(0.1rem); }
    .header__button-enter::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-radius: 0.5rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s; }
