.header {
    height: 70vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, .8),
        rgba($color-secondary, .8)),
    url(../images/guitarist.jpg);
    background-size: cover;
    border-bottom: 1px solid $color-white-transparent;

    @include responsive(tab-port) {
        height: 70rem;
    }

    &__image {
        width: 15rem;
        height: 15rem;
        margin-top: 3rem;
        margin-left: 3rem;
        cursor: pointer;
    }

    &__label {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    &__welcome {
        color: $color-white;
        font-size: 7rem;
        display: block;
        margin-bottom: 10rem;

        @include responsive(phone) {
            font-size: 5rem;
        }
    }

    &__button-enter {
        font-family: $font-primary;
        border: none;
        width: 25rem;
        height: 10rem;
        color: $color-text;
        background-color: $color-white;
        border-radius: $button-border-radius;
        padding: 1rem 3rem;
        font-size: 2.5rem;
        cursor: pointer;
        outline: none;
        transition: all .4s;
        position: relative;

        &:hover {
            transform: translateY(-.3rem);

            &::after {
                transform: scaleX(1.2) scaleY(1.3);
                opacity: 0;
            } 
        }

        &:active {
            transform: translateY(.1rem);
        }

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-color: $color-white;
            border-radius: $button-border-radius;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .4s;
        }
    }
}