.products {
    width: 100%;
    height: 50rem;
    display: flex;
    justify-content: center;
    margin: 10rem 0;

    @include responsive(tab-port) {
        padding: 0 1rem;
    }

    &__container {
        width: 75%;
        height: 100%;
        background-color: black;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(12, 1fr);
        border: .3rem solid $color-white-transparent;

        @include responsive(tab-port) {
            width: 100%;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .4s;
    }

    &__product {
        cursor: pointer;
        position: relative;

        &:hover > img {
            filter: blur(.5rem) grayscale(100%);
        }

        &:hover {
            &::after {
                opacity: 1;
                transform: translateY(0);
            }
        }

        &::after {
            content: "CHECK!";
            width: 100%;
            height: 100%;
            font-size: 3rem;
            position: absolute;
            top: 3rem;
            text-align: center;
            color: $color-white;
            opacity: 0;
            transition: all .4s;
            transform: translateY(3rem);

            @include responsive(phone) {
                display: none;
            }
        }

        &--1 {
            grid-row: 1 / span 2;
            grid-column: 1 / span 2;
        }

        &--2 {
            grid-row: 1 / span 4;
            grid-column: 3;
        }

        &--3 {
            grid-row: 1 / span 3;
            grid-column: 4 / span 2;
        }

        &--4 {
            grid-row: 1 / span 3;
            grid-column: 6 / span 3;
        }

        &--5 {
            grid-row: 6;
            grid-column: 11 / span 2;
        }

        &--6 {
            grid-row: 1 / span 3;
            grid-column: 9 / span 2;
        }

        &--7 {
            grid-row: 5 / span 2;
            grid-column: 1 / span 3;
        }

        &--8 {
            grid-row: 3 / span 2;
            grid-column: 1 / span 2;
        }

        &--9 {
            grid-row: 1 / span 5;
            grid-column: 11 / span 2;
        }

        &--10 {
            grid-row: 4 / span 3;
            grid-column: 4 / span 7;
        }
    }
}