.products {
    width: 100%;
    height: 50rem;
    display: flex;
    justify-content: center;
    margin: 10rem 0;

    &__container {
        width: 75%;
        height: 100%;
        background-color: black;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(12, 1fr);

        div {
            background-color: goldenrod;
            border: 3px solid steelblue;
        }
    }
}